<%= render 'shared/content_title', title: 'Profile: ', sub_title: @user.username %>
<div class='well'>
  <div class='form-group'>
    Username: <%= @user.username %>
  </div>
  <div class='form-group'>
    Password: [masked]
  </div>
  <div class='form-group'>
    Time-zone: <%= @user.time_zone %>
  </div>
</div>

<h5>Recent activities: </h5>

<div role="tabpanel">

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#posts" aria-controls="home" role="tab" data-toggle="tab">Posts</a></li>
    <li role="presentation"><a href="#comments" aria-controls="profile" role="tab" data-toggle="tab">Comments</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="posts">
      <% @user.posts.limit(3).each do |post| %>
        <%= render 'posts/post', post: post %>
      <% end %>
    </div>
    <div role="tabpanel" class="tab-pane" id="comments">
      <%= render @user.comments.limit(3) %>
    </div>
  </div>

</div>
