<%= render 'shared/error_msg', obj: @post %>

<div class='well'> 
  <%= form_for @post do |f| %>
    <div class='form-group'>
      <%= f.label :title %>
      </br>
      <%= f.text_field :title %>
    </div>

    <div class='form-group'>
      <%= f.label :url %>
      </br>
      <%= f.text_field :url %>
    </div>

    <div class='form-group'>
      <%= f.label :description %>
      </br>
      <%= f.text_area :description, rows: 10 %>
    </div>

    <%= f.collection_check_boxes :category_ids, Category.all, :id, :name %>
    <%= f.submit(@post.new_record? ? 'Create Post' : 'Update Post', class: 'btn btn-primary') %>

  <% end %>
</div>