
<%= render 'shared/content_title', title: @post.title %>
<%= render @post.categories %>
<div class="well well-lg">
  <% if logged_in? && current_user == @post.user %>
    <p align='right'>[<%= link_to 'edit', edit_post_path(@post) %>]</p>
  <% end %>
  <p><%= link_to 'link', format_url(@post.url) %></p>
  <p><%= @post.description %></p>
  <br/>
  <p><small>Posted by <%= link_to @post.user.username, user_path(@post.user) %> at <%= format_time(@post.created_at) %> // Updated at <%= format_time(@post.updated_at) %></small></p>
  <br/>
  <% if logged_in? %>
  <%= form_for [@post, @comment] do |f| %>
    <%= render 'shared/error_msg', obj: @comment %>
    <div class='form-group'>
      <%= f.label :body, 'Leave a comment:' %>
      <br/>
      <%= f.text_area :body, rows: 8 %>
    </div>
    <%= f.submit 'Comment', class: 'btn btn-primary' %>
  <% end %>
  <% end %>
</div>
<p>Comments: </p>
<%= render @post.comments %>