<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Postit</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/">All Posts <span class="sr-only">(current)</span></a></li>
        <% if logged_in? %>
          <li><%= link_to 'New Post', new_post_path %></li>
        <% end %>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Category <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <% Category.all.each do |cate| %>
              <li><%= link_to cate.name, category_path(cate) %></li>
            <% end %>
            <% if logged_in? %>
              <li class="divider"></li>
              <li><%= link_to 'New Caterory', new_category_path %></li>
            <% end %>
          </ul>
        </li>
      </ul>
      
      <div class="nav navbar-nav navbar-right">
        <% if !logged_in? %>
          <%= link_to 'Register', '/register', class: 'btn btn-success' %>
          <%= link_to 'Log In', '/login' , class: 'btn btn-primary' %>
        <% else %>
          <ul class='nav navbar-nav navbar-right'>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><%= current_user.username %> <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><%= link_to 'Edit Profile', edit_user_path(current_user) %></li>
                <li><%= link_to 'View Profile', user_path(current_user) %></li>
              </ul>
            </li>
            <li><%= link_to 'Log Out', '/logout' %></li>
          </ul>
        <% end %>
      </div>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>