<!DOCTYPE html>
<html>
<head>
  <title>Postit</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <!-- navbar -->
  <div class='container'>
    <%= render '/layouts/navbar' %>
  </div>
  <div class='container'>
    <!-- alerts -->
    <%= render '/layouts/alert' %>

  
    <%= yield %>
  </div>
</body>
</html>
